#all_tasks
  %table.bordered
    %tr
      %th= t :user
      %th= t :customer
      %th= t :description
      %th= t :due
      %th= t :period
      %th= t :priority
      %th= t :status
      %th
    = render 'active_tasks'
    = render 'pending_tasks'
    = render 'completed_tasks'

= javascript_tag do
  $('#show_all_tasks').badger('#{Task.total_task}');
  $('#show_active_tasks').badger('#{Task.active.count}');
  $('#show_pending_tasks').badger('#{Task.pending.count}');
  $('#show_completed_tasks').badger('#{Task.completed.count}');
  $('#show_archived_tasks').badger('#{Task.archived.count}');
  
