- for task in @tasks.select {|t| t.status == 'Pending'} do
  %tr{:class => task.status.downcase}
    %td= task.user.name
    %td= task.customer.name
    %td= task.description
    %td= l task.due
    %td= t task.period
    %td= t task.priority
    %td= t task.status
    %td
      = button_group do
        = search_button_link_to t(:show), task
        = edit_button_link_to t(:edit), edit_task_path(task)
        = negative_trash_button_link_to t(:destroy), task, :confirm => t(:are_you_sure),
          :method => :delete
