- title "Tasquee::" + t(:tasks), false

%h1= t :tasks

.task_filter
  - button_group do
    = button_link_to t(:all_tasks), "#", :id => "show_all_tasks"
    = button_link_to t(:active), "#", :id => "show_active_tasks"
    = button_link_to t(:pending), "#", :id => "show_pendig_tasks"
    = button_link_to t(:completed), "#", :id => "show_completed_tasks"

%table
  %tr
    %th= t :user
    %th= t :customer
    %th= t :description
    %th= t :due
    %th= t :period
    %th= t :priority
    %th= t :status
  - for task in @tasks
    %tr
      %td= task.user.name
      %td= task.customer.name
      %td= task.description
      %td= l task.due
      %td= t task.period
      %td= t task.priority
      %td= t task.status
      %td
        - button_group do
          = search_button_link_to t(:show), task
          = edit_button_link_to t(:edit), edit_task_path(task)
          = negative_trash_button_link_to t(:destroy), task, :confirm => t(:are_you_sure),
            :method => :delete

%p= add_button_link_to t(:new_task), new_task_path
