- title "Tasquee::" + t(:users), false

%h1= t(:users)

%table
  %tr
    %th= t(:name)
    %th= t(:username)
    %th= t(:email)
    %th= t(:admin)
  - for user in @users
    %tr
      %td= user.name
      %td= user.username
      %td= user.email
      %td= t user.admin?.to_s
      %td
        = button_group do
          = search_button_link_to t(:show), user
          = edit_button_link_to t(:edit), edit_user_path(user)
          - if current_user.name != user.name
            = trash_negative_button_link_to t(:destroy), user,
              :confirm => t(:are_you_sure), :method => :delete

%p
  = add_button_link_to t(:new_user), new_user_path
