- title "Tasquee::Home Page", false

#calendar
  %h2#week
    = link_to "<<", :week => (@date.beginning_of_month-1).strftime("%Y-%m-01")
    = link_to "<", :week => (@date.beginning_of_week-1)
    = l @date.beginning_of_week, :format => :short
    \-
    = l @date.end_of_week, :format => :short
    = link_to ">", :week => (@date.end_of_week+1)
    = link_to ">>", :week => (@date.end_of_month+1).strftime("%Y-%m-01")
  = render 'calendar'
#show_event_dialog{:style => "display:none"}
  #show_event
#clear

#create_event{:style => "display:none"}
  = simple_form_for @appointment, {:url => events_path, :remote => true} do |f|
    = f.association :user, :collection => User.in_calendar
    = f.association :customer
    = f.input :due, :as => :string, :input_html => {:size => 10}
    = f.input :period, :collection => Appointment::PERIOD, :label_method => lambda {|p| I18n.t p}, :include_blank => false
    = f.input :status, :collection => Appointment::STATUS, :label_method => lambda {|s| I18n.t s}, :include_blank => false
    = f.input :description, :input_html => {:rows => 4}
    = f.input :notes, :input_html => {:rows => 4}
    = f.button :submit
