- title "Tasquee::" + t(:customers), false

%h2.ribbon.flag= t(:customers)

%table.bordered{:id => "customers_table"}
  %thead
    %tr
      %th= t(:name)
      %th= t(:address)
      %th= t(:phone)
      %th= t(:email)
      %th
  %tbody
    - for customer in @customers
      %tr
        %td= customer.name
        %td= customer.address
        %td= customer.phone
        %td= customer.email
        %td
          = button_group do
            = search_button_link_to t(:show), customer
            = edit_button_link_to t(:edit), edit_customer_path(customer)
            = negative_trash_button_link_to t(:destroy), customer, :confirm => t(:are_you_sure), :method => :delete

%p= user_button_link_to t(:new_customer), new_customer_path
