- title "Tasquee::Assenze", false

.availabilities_filter
  = button_link_to t(:holidays), "#", :id => "show_holidays"
  = button_link_to t(:absences), "#", :id => "show_absences"

#holidays
  %h2.ribbon.simple= t(:holidays)

  %table.bordered
    %tr
      %th= t(:user)
      %th= t(:start_date)
      %th= t(:end_date)
      %th= t(:total_days)
      %th
    - for holiday in @holidays
      %tr
        %td= holiday.user.name
        %td= l holiday.start_date
        %td= l holiday.end_date
        %td= date_range(holiday.start_date, holiday.end_date)
        %td
          = button_group do
            = edit_button_link_to t(:edit), edit_holiday_path(holiday)
            = negative_trash_button_link_to t(:destroy), holiday, :confirm => t(:are_you_sure), :method => :delete
  %p= add_button_link_to t(:new_holiday), new_holiday_path

#absences{:style => "display:none"}
  %h2.ribbon.simple= t(:absences)
  
  %table.bordered
    %tr
      %th= t(:user)
      %th= t(:day)
      %th= t(:start_time)
      %th= t(:end_time)
      %th
    - for absence in @absences
      %tr
        %td= absence.user.name
        %td= l absence.day
        %td= l absence.start_time, :format => :calendar
        %td= l absence.end_time, :format => :calendar
        %td
          = button_group do
            = edit_button_link_to t(:edit), edit_absence_path(absence)
            = negative_trash_button_link_to t(:destroy), absence, :confirm => t(:are_you_sure), :method => :delete
  %p= add_button_link_to t(:new_absence), new_absence_path
