!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "uniform.default"
    = stylesheet_link_tag "application"
    = css3buttons_stylesheets :include_reset => false
    = javascript_include_tag "jquery"
    = javascript_include_tag "sessions"
    = javascript_include_tag "jquery.uniform.min"
    = csrf_meta_tag
    = yield(:head)

  %body
    #login_box
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield
